<main class="dialog-padrao">
    <h1 mat-dialog-title>Adicionar usuário</h1>
    <div mat-dialog-content>
        <form [formGroup]="userForm">

            <label for="name" class="label-form">Nome:</label>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label></mat-label>
                <input formControlName="name" id="name" type="text" matInput>
            </mat-form-field>

            <label for="tel" class="label-form">Telefone:</label>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label></mat-label>
                <input formControlName="tel" id="tel" type="tel" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-form-field">
                <mat-label>Cadastrado em:</mat-label>
                <input formControlName="creationDate" matInput [matDatepicker]="datepicker">
                <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #datepicker>
                </mat-datepicker>
            </mat-form-field>
        </form>
    </div>
    <div [align]="'end'" mat-dialog-actions>
        <button mat-button mat-dialog-close color="warn">Cancelar</button>
        <button mat-raised-button color="warn" (click)="userForm.reset()">Limpar</button>
        <button mat-raised-button color="primary" (click)="saveUser()">Enviar</button>
    </div>
</main>